.about-container {
  width: calc(100vw - 150px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 75px 0px 0px;
  gap: 40px;
}

.about-desc {
  width: 700px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;

  color: #ffffff;

  gap: 10px;
}

.about-pic {
  position: relative;
  width: 508px;
  height: 657px;
}

.about-desc > h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 77px;
  text-align: justify;
  letter-spacing: -0.02em;

  color: #000000;
}

.about-desc > h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;

  color: #ffffff;
}

.about-desc > p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;

  color: #000000;
}

.about-desc > p > br {
  padding: 10px 0; /* FF for instance */
  line-height: 10px; /* chrome for instance */
}
