@tailwind base;
@tailwind components;
@tailwind utilities;

/* For debugging purposes: start */

*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 2px solid lime; */
}

/* For debugging purposes: end */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 58, 162, 183;
  --background-end-rgb: 233, 168, 168;
  --header-start-rgba: 38, 38, 36, 1;
  --header-end-rgba: 38, 38, 36, 0.88;
  --white: 255, 255, 255;
}

/* for when changing to dark color */
/* @media (prefers-color-scheme: dark) { 
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

p {
  font-size: 1rem !important;
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem) !important;
}

h1 {
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  text-align: center;
  letter-spacing: -0.02em;
  font-size: 3rem !important;
  font-size: clamp(3rem, 2.8rem + 1vw, 4rem) !important;
}

h2 {
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.02em;
  font-size: 1.5rem !important;
  font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem) !important;
}

h3 {
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.02em;
  font-size: 1.25rem !important;
  font-size: clamp(1.25rem, 1.15rem + 0.5vw, 1.75rem) !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
