@tailwind base;
@tailwind components;
@tailwind utilities;

/* For debugging purposes: start */

*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 2px solid lime; */
}

/* For debugging purposes: end */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 58, 162, 183;
  --background-end-rgb: 233, 168, 168;
  --header-start-rgba: 38, 38, 36, 1;
  --header-end-rgba: 38, 38, 36, 0.88;
  --white: 255, 255, 255;
}

/* for when changing to dark color */
/* @media (prefers-color-scheme: dark) { 
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

nav > a,
nav > ul > li > a {
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
}

p,
li {
  font-size: 1rem;
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  color: #000000;
}

h1 {
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.02em;
  font-size: 2rem;
  font-size: clamp(2rem, 1.6rem + 2vw, 4rem);
  color: #000000;
}

h2 {
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.02em;
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
  color: #ffffff;
}

h3 {
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.02em;
  font-size: 1.05rem;
  font-size: clamp(1.05rem, 1.01rem + 0.19999999999999996vw, 1.25rem);
  color: #000000;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 35px 35px 0px 35px;
}

.divider {
  width: 100%;
  border-top: 1px solid #e6e6e6;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
