.home-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0px;
  gap: 50px;
}

.home-desc {
  width: 787px;
  height: 144px;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;

  color: #ffffff;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.home-pic {
  position: relative;
  width: 195px;
  height: 245px;
}
