.home-container {
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.home-intro {
  display: flex;
  flex-direction: row;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.home-desc {
  max-width: 550px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  color: #ffffff;
}

.home-pic {
  position: relative;
  width: 195px;
  border-radius: 5rem;
}

.home-pic > img {
  width: 100%;
  height: auto;
  border-radius: 5rem;
}

.home-desc > h1 {
  color: #000000;
}

.home-desc > p {
  color: #ffffff;
}

@media (width <= 768px) {
  .home-intro {
    gap: 25px;
  }

  .home-container {
    gap: 50px;
  }
}
