.proj-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}

.proj-desc {
  width: 100%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.proj-desc > h1 {
  text-align: start;
  color: #000000;
}

.proj-desc > h2 {
  color: #ffffff;
}

.proj-desc > p {
  color: #000000;
}

.proj-desc > p > a {
  text-decoration: underline;

  color: #090ca3;
}

.proj-desc > ul {
  font-size: 20px;
  margin: 16px 0px;
  padding: 0px 0px 0px 40px;
}

.proj-desc > ul > li {
  color: #000000;
}

.proj-pic {
  position: relative;
}

.pics-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
